<h1>Editing album image</h1>

<%= render "form", album_image: @album_image %>

<br>

<div>
  <%= link_to "Show this album image", @album_image %> |
  <%= link_to "Back to album images", album_images_path %>
</div>
