<p style="color: green"><%= notice %></p>

<h1>Album images</h1>

<div id="album_images">
  <% @album_images.each do |album_image| %>
    <%= render album_image %>
    <p>
      <%= link_to "Show this album image", album_image %>
    </p>
  <% end %>
</div>

<%= link_to "New album image", new_album_image_path %>
